{% extends "base.html" %}
{% block content %}
<style>
    #freq{
        background-color: #cedebd;
        font-size: 1.9em;
    }
</style>
<div class="row">
    <div class="column left text">
    <h1 style="margin-bottom: 60px">How does your vehical impact the environment?</h1>
        <h2 id="selected-food" >Vehical:</h2>
        <h2>How many times per week do you use it?</h2>
        <select style="width:100px;position: relative;" id="freq">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
        </select>
        <h5 id="serv"></h5>
        <h3 id="result"></h3>
    </div>

    <div class="container column right">
        <div class="header">
            <h1 id="food">Vehical</h1>
        </div>
        <div class="shelf-background1">
            <div class="items"></div>
        </div>
        <script src="{{ url_for('static', filename = 'script2.js')}}"> </script>

    </div>
</div>
{% endblock content %}